a,
a:hover,
ul.menu li a:hover,
ul.menu ul a:hover,
.menu ul ul a:hover,
.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover,
.slicknav_nav a:hover a,
.post-header h1 a:hover,
.post-header h2 a:hover,
.post-header .cat a:hover,
.feature-content .owl-demo h4 a:hover,
.author-date .author a:hover,
.post-share a:hover,
a.read-more,
.secondary-footer .copyright a,
.primary-footer .r-p-item .r-p-item-desk h5 a:hover,
.feature-content .owl-demo .cat a:hover,
.author-desk h5 a:hover ,
.related-item h5 a:hover,
.related-item .cat a:hover,
.latest-post-widget .post-item .post-desk h4 a:hover,
.category-widget ul li a:hover ,
.comments-widget ul a:hover,
a.post-read-more,
.post-item .cat a:hover,
.post-item h5 a:hover,
.share-info li a:hover i,
a.share-close:hover,
.error-wrap h1,
.comments-area .reply .comment-reply-link ,
.comments-area .comment-author a:hover,
.category-widget ul li a:hover,
.comments-widget ul a:hover,
.widget_categories ul a:hover,
.widget_recent_comments ul a:hover,
footer .widget_rss ul li a,
.widget_archive ul li a:hover, .widget_pages ul li a:hover, .widget_recent_entries ul li a:hover,
.widget_rss ul li a:hover,
footer .widget_rss ul li a,
.lrg-img.grid-1 .grid-3.text-grid a.post-read-more,.lrg-img.grid-1 .grid-3.text-grid .outline-outward:before{
    color: #2090d9;
}


.pagination > li > a:hover,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.feature-content .owl-demo h4 a:hover, 
.feature-content .owl-demo .cat a:hover{
    color: #2090d9 !important;
}

.twitter-feed-row,
.primary-footer .tag-cloud li a:hover,
.feature-content .owl-item .item a.f-img,
.tags ul li a:hover,
.social-widget .social-link a:hover i,
.secondary-footer .footer-social a:hover,
.social-widget .social-link a:hover i,
.contact-row .btn:hover,
a.load-more:hover,
a.back-btn:hover,
#scrollUp:hover,
.style-switcher .toggle:hover,
.comments-area .comment-respond .form-submit input:hover,
.edit-link a.comment-edit-link:hover,
.widget_tag_cloud .tagcloud a:hover{
    background: #2090d9;
}


a.blog-quote-link:hover .quote-with-bg{
    background: #2090d9 !important;
}


.border-color, .contact-row .form-control:focus,
.social-widget .social-link a:hover i,
a.post-read-more,
.outline-outward:before,
a.back-btn:hover,
.style-switcher .toggle:hover,
.widget_tag_cloud .tagcloud a:hover,
.lrg-img.grid-1 .grid-3.text-grid a.post-read-more,.lrg-img.grid-1 .grid-3.text-grid .outline-outward:before{
    border-color: #2090d9;
}


.post-link-image a p, .lightGallery li a,
.other-page .author-intro {
    background: rgba(32,144,217,0.9)!important;
}

.post-link-image a:hover p {
    background: rgba(32,144,217,1)!important;
}